.company-container {
  padding: 10px;
}
.company-container h2 {
  margin-top: 0px;
}

/* ------------------------ Top  ------------------------ */
.company-top {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
/* ------------------------ Top left ------------------------ */
.company-top-left {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}
.company-top-left-top {
  margin-bottom: 1rem;
}

.company-top-left-top-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
}
.rixun-input-company-top-create {
  padding: 4px;
  width: 30rem;
}
.rixun-button-company-bottom-create {
  padding: 5px;
  margin: 0 10px;
}

/* ------------------------ Top right ------------------------ */
.company-top-right {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}

.company-top-right-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rixun-input-company-top-right-search {
  /* display: inline-block; */
  padding: 4px;
  width: 30rem;
  margin: 0 10px;
}
.rixun-button-company-top-right-search {
  padding: 5px;
}

.company-top-right-bottom  {
  margin-bottom: 1rem;
}
.company-top-right-bottom-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
}
.rixun-input-company-bottom-update {
  padding: 4px;
  width: 30rem;
}
.rixun-button-company-bottom-update {
  padding: 5px;
  margin: 0 10px;
}

/* ------------------------ Rixun components ------------------------ */
.rx-input {
  /* padding: 5px; */
  /* width: 30rem; */
}

/* ------------------------ Bottom ------------------------ */
.company-bottom {
  border: 1px solid black;
  padding: 10px;
}

.company-table {
  border-top: 1px solid black;
  padding-top: 10px;
}

.company-table table {
  border: 1px solid black;
}

.company-table th {
  border: 1px solid white;
  padding: 10px;
}

.company-table td {
  border-bottom: 1px solid lightgray;
  padding: 5px 30px 5px 30px;
}